<div class="wrapper" style="margin-bottom: 8px;">
  <div style="border:3px solid grey; border-radius: 5px; width: 165px;">
    <div style="display:grid; grid-template-rows:  1fr;">
      <div style="height:34px; font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: #3B4956;">Visibility</div>
      <div style="border-top: 3px solid grey; font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      color: #3B4956;">1800</div>
    </div>
  </div>
  <div style="border:3px solid grey; margin-left: 16px; border-radius: 5px;">
    <div style="display:grid; grid-template-rows:  1fr; width: 348px;">
      <div style="height:34px; font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: #3B4956;">Present Weather</div>
      <div>
        <div style="display:grid; grid-template-columns:  1fr 1fr; border-top: 3px solid grey">
          <div style="display:grid; grid-template-columns:  1fr 1fr; border-right: 3px solid grey; font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          align-items: center;
          text-align: center;
          color: #3B4956;">Haze</div>
          <div style="font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          align-items: center;
          text-align: center;
          color: #3B4956;">No percipation</div>
        </div>
      </div>
    </div>
  </div>


</div>


<div style="display: inline-flex;">
  <div style="width: 250px;     border: 3px solid grey;
border-radius: 5px;">
    <div style="display:grid; grid-template-columns:  1fr 1fr;">
      <div style="display:grid; grid-template-columns:  1fr; border-right: 3px solid grey; font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">Haze</div>
      <div style="font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">No percipation</div>
    </div>

    <div style="display:grid; grid-template-columns:  1fr  1fr ; border-top: 3px solid grey">
      <div style="display:grid; grid-template-columns:  1fr; border-right: 3px solid grey; font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">Haze</div>
      <div style="font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">No percipation</div>
    </div>
  </div>


  <div style="width: 250px;     border: 3px solid grey;
        margin-left: 16px;
        border-radius: 5px;">
    <div style="display:grid; grid-template-columns:  1fr 1fr;">
      <div style="display:grid; grid-template-columns:  1fr; border-right: 3px solid grey; font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">Haze</div>
      <div style="font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">No percipation</div>
    </div>

    <div style="display:grid; grid-template-columns:  1fr  1fr ; border-top: 3px solid grey">
      <div style="display:grid; grid-template-columns:  1fr; border-right: 3px solid grey; font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">Haze</div>
      <div style="font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">No percipation</div>
    </div>
  </div>
</div>

