.select-form {
    max-inline-size: min-content;
    font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 21px;
/* identical to box height, or 150% */

// display: flex;
// align-items: center;

/* Text/Orsted Text */

color: #3B4956;
    color: #3B4956;
}

.align-straight {
    display: inline-flex;
    padding-bottom: 16px;
}

.right-section {
    // direction: rtl;
    position: relative;
    top: -20px;
    display: inline-flex;
    float: right;

    .menu-icon-size{
        height: 24px;
        width: 24px;
    }

    
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
  }
  body {
      background: #1f253d;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding-left: 0;
  }
  
  h1 {
      font-size: 23px;
  }
  
  h2 {
      font-size: 17px;
  }
  
  p {
      font-size: 15px;
  }
  
  a {
      text-decoration: none;
      font-size: 15px;
  }
      a:hover {
          text-decoration: underline;
      }
  
  h1, h2, p, a, span{
      color: #fff;
  }
      .scnd-font-color {
          color: #9099b7;
      }
  .titular {
  display: block;
  line-height: 60px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  }
  .horizontal-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
  }
      .horizontal-list li {
          float: left;
      }
          .block {
              // margin: 25px 25px 0 0;
              background: #394264;
              border-radius: 5px;
        // float: left;
        width: 535px;
        overflow: hidden;
          }
          /******************************************** LEFT CONTAINER *****************************************/
          .left-container {}
              .menu-box {
                  height: 360px;
              }
  
              .donut-chart-block {
                  overflow: hidden;
              }
                  .donut-chart-block .titular {
                      padding: 10px 0;
                  }
                  .os-percentages li {
                      width: 75px;
                      border-left: 1px solid #394264;
                      text-align: center;					
                      background: #50597b;
                  }
                      .os {
                          margin: 0;
                          padding: 10px 0 5px;
                          font-size: 15px;		
                      }
                          .os.ios {
                              border-top: 4px solid #e64c65;
                          }
                          .os.mac {
                              border-top: 4px solid #11a8ab;
                          }
                          .os.linux {
                              border-top: 4px solid #fcb150;
                          }
                          .os.win {
                              border-top: 4px solid #4fc4f6;
                          }
                      .os-percentage {
                          margin: 0;
                          padding: 0 0 15px 10px;
                          font-size: 25px;
                      }
              .line-chart-block, .bar-chart-block {
                  // height: 400px;
              }
                  .line-chart {
                      height: 200px;
                      background: #11a8ab;
                  }
                  .time-lenght {
                      padding-top: 22px;
                      padding-left: 38px;
            overflow: hidden;
                  }
                      .time-lenght-btn {
                          display: block;
                          width: 70px;
                          line-height: 32px;
                          background: #50597b;
                          border-radius: 5px;
                          font-size: 14px;
                          text-align: center;
                          margin-right: 5px;
                          -webkit-transition: background .3s;
                          transition: background .3s;
                      }
                          .time-lenght-btn:hover {
                              text-decoration: none;
                              background: #e64c65;
                          }
                  .month-data {
                      padding-top: 28px;
                  }
                      .month-data p {
                          display: inline-block;
                          margin: 0;
                          padding: 0 25px 15px;            
                          font-size: 16px;
                      }
                          .month-data p:last-child {
                              padding: 0 25px;
                float: right;
                              font-size: 15px;
                          }
                          .increment {
                              color: #e64c65;
                          }
  
  /******************************************
  ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
  ESTILOS PROPIOS DE LOS GRÄFICOS
  ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ 
  GRAFICO LINEAL
  ******************************************/
  
  .grafico {
    padding: 2rem 1rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 80%;
  }
  .grafico span {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    height: 0;
    border-top: 2px solid;
    transform-origin: left center;
  }
  .grafico span > span {
    left: 100%; bottom: 0;
  }
  [data-valor='25'] {width: 75px; transform: rotate(-45deg);}
  [data-valor='8'] {width: 24px; transform: rotate(65deg);}
  [data-valor='13'] {width: 39px; transform: rotate(-45deg);}
  [data-valor='5'] {width: 15px; transform: rotate(50deg);}
  [data-valor='23'] {width: 69px; transform: rotate(-70deg);}
  [data-valor='12'] {width: 36px; transform: rotate(75deg);}
  [data-valor='15'] {width: 45px; transform: rotate(-45deg);}
  
  [data-valor]:before {
    content: '';
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
  }
  [data-valor='23']:after {
    content: '+' attr(data-valor) '%';
    position: absolute;
    right: -2.7rem;
    top: -1.7rem;
    padding: .3rem .5rem;
    background: #50597B;
    border-radius: .5rem;
    transform: rotate(45deg);  
  }
  [class^='eje-'] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 80%;
  }
  .eje-x {
    height: 2.5rem;
  }
  .eje-y li {
    height: 25%;
    border-top: 1px solid #777;
  }
  [data-ejeY]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -.5rem;
  } 
  .eje-x li {
    width: 33%;
    float: left;
    text-align: center;
  }
  
 /* Create a responsive, centered, three-column grid. */
.card-container {
	// align-items: start;
	// display: grid;
	// grid-gap: 16px;
	// grid-template-columns: repeat(auto-fit, 300px);
	// justify-content: center;
}

/* --- Optional styles (to make this pen look nice) --- */
body {
	font-family: sans-serif;
}

header,
footer {
	text-align: center;
}

.card {
	// background-color: orangered;
	border-radius: 5px;
    border-style: solid;
    border-color: grey;
	// color: white;
	// padding: 24px 0 16px;
	text-align: center;
	// text-shadow: 1px 1px 0 #555;
  // height: 70px;
  // width: 166px;
}

.card2 {
	// background-color: orangered;
	border-radius: 5px;
    border-style: solid;
    border-color: grey;
	// color: white;
	// padding: 24px 0 16px;
	text-align: center;
	// text-shadow: 1px 1px 0 #555;
  height: 70px;
  width: 166px;
}

.fas {
	font-size: 50px;
}


/* CSS Document */

/* Simple reset*/
* {
	margin: 0; padding: 0;
}

body {
	background: #81C4D1;
}

.compass {
	width: 400px;
	// height: 400px;
	background-color: #F3F3F3;
	border-radius: 100%;
	background-image: -webkit-linear-gradient(top, #F7F7F7, #ECECEC);
//   position: relative;
//   margin: 0 auto;
}

.compass-inner {
	width: 340px;
	height: 340px;
	background-color: #3D3D3D;
	border-radius: 100%;
	position: relative;
	left: 27.5px;
	top: 27.5px;
	border: 3px solid #C5C5C5;
}

.main-arrow {
	height: 100%;
	width: 30px;
	left: 155px;
	position: relative;
	padding-top: 5px;
	box-sizing:border-box;
  transform: rotate(20deg);
	animation: spin 2.0s alternate infinite;
	-ms-transform: rotate(20deg);
	-o-transform: rotate(20deg);
	-o-animation: spin 2.0s alternate infinite;
	-moz-transform: rotate(20deg);
	-moz-animation: spin 2.0s alternate infinite;
	-webkit-transform: rotate(20deg);
	-webkit-animation: spin 2.0s alternate infinite;
	
}

.arrow-up {
	width: 0; 
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 165px solid #EF5052;
	position: relative;
}

.arrow-down {
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	width: 0; 
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
	height: 0;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 165px solid #F3F3F3;
	position: relative;
}

.north {
	font-size: 36px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 155px;
	top: 10px;
}

.east {
	font-size: 36px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 290px;
	top: 150px;
}

.west {
	font-size: 36px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 20px;
	top: 150px;
}

.south {
	font-size: 36px;
	font-family: 'Lobster Two', cursive;
	color: #FFF;
	position: absolute;
	left: 155px;
	top: 280px;
}

@keyframes spin {
    0%{
        transform:scale(1) rotate(0deg);
    }
	50% {
		transform:scale(1) rotate(80deg);
	}
	100% {
		transform:scale(1) rotate(-180deg);
	}
}

@-o-keyframes spin {
    0%{
        -webkit-transform:scale(1) rotate(0deg);
    }
	50% {
		-webkit-transform:scale(1) rotate(80deg);
	}
	100% {
		-webkit-transform:scale(1) rotate(-180deg);
	}
}

@-moz-keyframes spin {
    0%{
        -webkit-transform:scale(1) rotate(0deg);
    }
	50% {
		-webkit-transform:scale(1) rotate(80deg);
	}
	100% {
		-webkit-transform:scale(1) rotate(-180deg);
	}
}

@-webkit-keyframes spin {
    0%{
        -webkit-transform:scale(1) rotate(0deg);
    }
	50% {
		-webkit-transform:scale(1) rotate(80deg);
	}
	100% {
		-webkit-transform:scale(1) rotate(-180deg);
	}
}

@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}


@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}

@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}

@media (max-width: 600px) {
  .compass {
    width: 200px;
	height: 200px;
	text-align: center;
  }
  
  .compass-inner {
	  width: 170px;
	  height: 170px;
	  left: 13px;
	  top: 13px;
  }
  
  .main-arrow {
	width: 30px;
	left: 78px;
	width: 15px;
	padding-top: 3px;
  }
  
  .arrow-up {
	border-bottom: 82.5px solid #EF5052;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
   .arrow-down {
	border-bottom: 82.5px solid #F3F3F3;
	border-left: 7.5px solid transparent;
	border-right: 7.5px solid transparent;
  }
  
  .north {
	  left: 78px;
	  top: 10px;
	  font-size: 16px;
  }
  
  .south {
	  font-size: 16px;
	  left: 78px;
	  top: 140px;
  }
  
  .east {
	  font-size: 16px;
	  top: 72.5px;
	  left: 145px;
  }
  
  .west {
	  font-size: 16px;
	  left: 10px;
	  top: 72.5px;
  }
}

.container1{
    // margin: auto;
    // width:400px;
    // height:400px;
    background-color:#fff;
    display:grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: min-content;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 8px;
    .box{
      // background-color:#333;
      // padding:20px;
      // border-radius:10px;
      // color:#fff;
      // display:flex;
      // align-items:center;
      // justify-content:center;
      // font-size:40px;
      // font-family:sans-serif;
    }
  
  }

  .container2{
    // margin: auto;
        /* width: 400px; */
    /* height: 400px; */
    /* background-color: #fff; */
    // display: grid;
    // grid-template-columns: 100px;
    // grid-row: auto auto;
    // grid-column-gap: 20px;
    // grid-row-gap: 20px;
    // margin-right: 18px;
    margin-right: 16px;
    .box{
      // background-color:#333;
      // padding:20px;
      // border-radius:10px;
      // color:#fff;
      // display:flex;
      // align-items:center;
      // justify-content:center;
      // font-size:40px;
      // font-family:sans-serif;
    }
  
  }

  .container3{
    // margin: auto;
    
    /* background-color: #fff; */
    display: grid;
    grid-template-columns: 164px 163px 164px;
    // grid-row: auto auto;
    // grid-column-gap: 20px;
    // grid-row-gap: 20px;
    // margin-right: 18px;
    // width: 400px;
    // height: 400px;
    background-color: #fff;
    display: grid;
    grid-template-rows: min-content;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 8px;
    .box{
      // background-color:#333;
      // padding:20px;
      // border-radius:10px;
      // color:#fff;
      // display:flex;
      // align-items:center;
      // justify-content:center;
      // font-size:40px;
      // font-family:sans-serif;
    }
  
  }

  .container4{

    .box{
      // background-color: #333; 
    /* padding: 20px; */
    border-radius: 10px;
    border-color: gainsboro;
    color: #99A4AE;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    font-size: 16px;
    /* font-family: sans-serif; */
    border-style: solid;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 16px;
    margin-bottom: 35px;
    }
  
  }

  .footer {
    width: 100%;
    // background: #00121b;
    display: block;
   }
  
   .inner-footer {
     width: 95%;
     margin: auto;
     padding: 30px 10px;
     display: flex;
     flex-wrap: wrap;
     box-sizing: border-box;
     justify-content: center;
   }
  
  .footer-items {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
  }
  
  .footer-items p {
    font-size: 16px;
    text-align: justify;
    line-height: 25px;
    color: #fff;
  }
  
  .footer-items h1 {
    color: #fff;
  }
  
  .border1 {
    height: 3px;
    width: 40px;
    background: #ff9800;
    color: #ff9800;
    background-color: #ff9800;
    border: 0px;
  }
  
  ul {
    list-style: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.5px;	
   }
  
  ul a {
    text-decoration: none;
    outline: none;
    color: #fff;
    transition: 0.3s;
  }
  
  ul a:hover {
    color: #ff9800;
  }
  
  ul li {
    margin: 10px 0;
    height: 25px;
  }
  
  li i {
    margin-right: 20px;
  }
  
  .social-media {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 20px;
  }
  
  .social-media a {
    text-decoration: none;
  }
  
  .social-media i {
    height: 25px;
    width: 25px;
    margin: 20px 10px;
    padding: 4px;
    color: #fff;
    transition: 0.5s;
  }
  
  .social-media i:hover {
    transform: scale(1.5);
  }
  
  .footer-bottom {
    padding: 10px;
    // background: #00121b;
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  
  /* for tablet mode view */
  
  @media screen and (max-width: 1275px) {
    .footer-items {
      width: 50%;
    }
  }
  
  /* for mobile screen view */
  
  @media screen and (max-width: 660px) {
    .footer-items {
      width: 100%;
    }
  }

  // body {
  //   margin: 0;
  //   text-align: center;
  //   font-family: sans-serif;
  //   color: #FFF;
  // }
  
  // .container {
  //     max-width: 800px;
  //     margin: 0 auto;
  //     background: #CCC;
  //     font-size: 0;
  // }
  
  .item {
    display: inline-block;
    width: 25vw;
    height: 25vw;
    font-size: 1rem;
    position: relative;
  }
  
  @media screen and (min-width:800px) {
    .item {
      width: 200px;
      height: 200px;
    }
  }
  
  .item-cell {
    position: relative;
    top: calc(50% - .5em);
    height: 1em;
  }
  
  .item:nth-child(6n + 1) {background: #014af2;}
  .item:nth-child(6n + 2) {background: #6574ff;}
  .item:nth-child(6n + 3) {background: #cc00ff;}
  .item:nth-child(6n + 4) {background: #ff4cae;}
  .item:nth-child(6n + 5) {background: #ffa21d;}
  .item:nth-child(6n + 6) {background: #ff0067;}
  
  @supports (display:grid) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(auto-fill, 1fr);
      grid-auto-flow: dense;
    }
    
    .item {
      display: grid;
      position:relative;
      width: auto;
    }
  
    .item.size-1x1, .item.size-2x1 { height: 25vw; }
    .item.size-1x2, .item.size-2x2 { height: 50vw; }
    
    .size-1x1 { grid-column: span 1; grid-row: span 1; }
    .size-2x1 { grid-column: span 2; grid-row: span 1; }
    .size-1x2 { grid-column: span 1; grid-row: span 2; }
    .size-2x2 { grid-column: span 2; grid-row: span 2; }
    
    @media screen and (min-width:800px) {
        .item.size-1x1, .item.size-2x1 { height: 200px; }
        .item.size-1x2, .item.size-2x2 { height: 400px; }
    }
  }

  

  

