<!-- <h1>Dashboard</h1> -->
<!-- <div class="card">
    <div class="card-head">Lorem ipsum - dashboard</div>
    <div class="card-body">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas ducimus soluta, quasi aut ipsa non, ullam enim rem repudiandae, vitae provident animi. Inventore rerum, voluptas optio dignissimos blanditiis modi illo!
    </div>
</div> -->
<div class="select-form">
  <label for="country" style="margin-bottom: 8px;">Select Substation</label>
  <select id="country" name="country">
    <option value="australia">HOW01 Z11 OSS</option>
    <option value="canada">HOW01 Z11 OSS</option>
    <option value="usa">HOW01 Z11 OSS</option>
  </select>
</div>

<div class="right-section container">
  <div class="timestamp" style="display:inline-flex; border-style:groove; margin-right: 12px;">
    <div><i class="fa fa-calendar" aria-hidden="true" style="margin-right: 12px;"></i></div>
    <div style="padding-right: 4px; border-right: outset;">Park: {{clock}}</div>
    <div style="padding-left: 4px;">System: {{clock}}</div>
  </div>
  <div><i class="menu-icon-size fa fa-external-link" aria-hidden="true"></i></div>
  <div><i class="menu-icon-size fa fa-bell" aria-hidden="true"></i></div>
  <div><i class="menu-icon-size fa fa-database" aria-hidden="true"></i></div>

</div>


<div class="align-straight">
  <div class="container" style="margin-right: 24px;">
    <h1 style="font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height, or 150% */
    
    align-items: center;
    
    /* Text / Text */
    
    color: #3B4956; margin-bottom:32px;">Wind</h1>
    <img src="assets/graph.png">
  </div>

  <section class="card-container" style="margin-right: 30px;">

    <div class="card" style="margin-bottom: 8px;    width: 166px;
    height: 120px;">
      <div  style="height:34px; ">
        <div style="font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: #3B4956;">change</div>
      </div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">320</div>
    </div>

    <div class="card" style=" margin-bottom: 8px;   width: 166px;
    height: 120px;"  >
      <div style="height:32px; font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: #3B4956;">Speed (10 min. avg.)</div>
      <div style="border-top: solid; height:102px;  border-color: grey; font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      color: #3B4956;">12 KTS</div>
    </div>

    <div class="card" style=" margin-bottom: 8px;   width: 166px;
    height: 120px;">
      <div style="height:32px; font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: #3B4956;">Gust</div>
      <div style="border-top: solid; height:102px;  border-color: grey; font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      color: #3B4956;">---</div>
    </div>
  </section>

  <div class="container" style="margin-right: 24px;">
    <img src="assets/compass.png" height="375px" width="375px">
  </div>


</div>
<h1 style="font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

display: flex;
align-items: center;

/* Text / Text */

color: #3B4956; margin-bottom:32px;">Waves</h1>
<div class="align-straight">

  <div class="container2">
    <div class="box">
      <div class="card" style="height: 148px;
      width: 165px;">
        <div style="height:34px; font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      align-items: center;
      text-align: center;
      color: #3B4956;">Significant wave height</div>
        <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        align-items: center;
        text-align: center;
        color: #3B4956;">0.95 M</div>
      </div>
    </div>
  </div>

  <div class="container1">
    <div class="box" >
      <div class="card" style="height: 70px; width:166px;">
        <div style="height:34px;">
          <div style="font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    align-items: center;
    text-align: center;
    color: #3B4956;">current change</div>
        </div>
        <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;
      align-items: center;
      text-align: center;
      color: #3B4956;">0.95 M</div>
      </div>
    </div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
  </div>
  
  <div class="container3">
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
    <div class="box"><div class="card" style="height: 70px; width:166px;">
      <div style="height:34px; font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  color: #3B4956;">Significant wave height</div>
      <div style="border-top: solid; height:86px;  border-color: grey; font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #3B4956;">0.95 M</div>
    </div></div>
  </div>
</div>

<div class="align-straight">
  <img src="assets/graphWave.png" height="165px" width="521px" style="margin-right: 56px;">
<app-weather></app-weather>
 
</div>




<div class="container4">
  <div class="box">METAR 0000 010000Z AUTO 9999 OVC003/// 04/02 Q1016-</div>
</div>

<div class="footer">


  <!--   Footer Bottom start  -->
  <div class="footer-bottom">
    <img src="assets/orstedLogo.png">
   <p style="font-style: normal;
   font-weight: 400;
   font-size: 11px;
   line-height: 16px;
   align-items: center;
   text-align: center;
   
   /* Cloud / Cloud */
   
   color: #99A4AE;">Powered By</p>
   <p style="font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 18px;
   align-items: center;
   text-align: center;
   
   /* Cloud / Cloud */
   
   color: #99A4AE;
   ">Dungeon and Dragon</p>
   <img src="assets/footerLogo.png">
  </div>
</div>
